# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

export HISTFILE="$HOME/.local/cache/history/bash"
export INPUTRC="$XDG_CONFIG_HOME/inputrc"

# export WINEPREFIX="$XDG_CONFIG_HOME/wine"

setxkbmap -model pc105 -layout no -variant winkeys -option ctrl:nocaps
